# {{ ansible_managed }}
DATABASE_URL=postgresql://{{ prisme_database_user }}:{{ postgresql_password }}@{{ prisme_db_proxy_internal_ip }}:5432/{{ prisme_database_name }}
PRISME_SESSION_SECRET={{ vault_prisme_session_token }}
PRISME_OPERATOR_TOKEN={{ vault_prisme_operator_token }}
PRISME_METRICS_TOKEN={{ vault_prisme_metrics_token }}
PRISME_FIXTURE_MODE=false
PRISME_KARAKEEP_ENABLED={{ prisme_karakeep_enabled | bool | lower }}
PRISME_KARAKEEP_BASE_URL={{ prisme_karakeep_base_url }}
PRISME_KARAKEEP_TOKEN={{ vault_prisme_karakeep_token | default('') }}
PRISME_WEBHOOK_TOKEN={{ vault_prisme_karakeep_token | default('') }}
QDRANT_URL=http://{{ project_name }}_qdrant:6333
QDRANT_API_KEY={{ prisme_qdrant_api_key }}
LITELLM_URL=http://{{ project_name }}_litellm:4000
LITELLM_API_KEY={{ prisme_litellm_key }}
