# {{ ansible_managed }}
# Secrets pour litellm-probe (clé LiteLLM master + Telegram monitoring, réutilisées).
LITELLM_PROBE_API_KEY={{ litellm_probe_api_key }}
TG_BOT={{ litellm_probe_telegram_bot_token }}
TG_CHAT={{ litellm_probe_telegram_chat_id }}
