# netbox.env — Variables d'environnement NetBox (généré par Ansible)
# Ne pas éditer manuellement — ce fichier est écrasé à chaque déploiement

SECRET_KEY={{ vault_mediahall_secret_key }}

# Base de données
DB_NAME={{ netbox_db_name }}
DB_USER={{ netbox_db_user }}
DB_PASSWORD={{ vault_mediahall_db_password }}
DB_HOST={{ netbox_db_host }}
DB_PORT={{ netbox_db_port }}

# Redis
REDIS_HOST={{ netbox_redis_host }}
REDIS_PORT={{ netbox_redis_port }}
REDIS_DB=0
REDIS_CACHE_DB=1

# Configuration
ALLOWED_HOSTS={{ netbox_subdomain }}.{{ domain_name }}
SUPERUSER_NAME=admin
SUPERUSER_EMAIL=admin@{{ domain_name }}
