---
- name: Check palais service is in compose file
  ansible.builtin.command:
    cmd: "grep -q palais /opt/{{ project_name }}/docker-compose.yml"
  register: _palais_in_compose
  failed_when: false
  changed_when: false
  listen: Restart palais

- name: Rebuild and restart palais container
  community.docker.docker_compose_v2:
    project_src: "/opt/{{ project_name }}"
    files:
      - docker-compose.yml
    services:
      - palais
    state: present
    recreate: always
    build: always
  become: true
  when:
    - not ansible_check_mode
    - _palais_in_compose.rc | default(1) == 0
  listen: Restart palais
