HF_HOME={{ memory_worker_hf_home }}
SENTENCE_TRANSFORMERS_HOME={{ memory_worker_hf_home }}
PYTHONUNBUFFERED=1
HF_TOKEN={{ memory_worker_huggingface_token }}
HUGGINGFACE_HUB_TOKEN={{ memory_worker_huggingface_token }}
HF_HUB_DISABLE_TELEMETRY=1
QDRANT_URL={{ memory_worker_qdrant_url }}
QDRANT_API_KEY={{ memory_worker_qdrant_api_key }}
QDRANT_TIMEOUT={{ memory_worker_qdrant_timeout }}
QDRANT_VERIFY_TLS={{ 'true' if memory_worker_qdrant_verify_tls | bool else 'false' }}
