PORT={{ mc_port }}
OPENCLAW_GATEWAY_URL={{ mc_openclaw_gateway_url }}
OPENCLAW_GATEWAY_TOKEN={{ mc_openclaw_gateway_token }}
DATABASE_PATH={{ mc_database_path }}
WORKSPACE_BASE_PATH={{ mc_workspace_base_path }}
PROJECTS_PATH={{ mc_projects_path }}
NODE_ENV={{ mc_node_env }}
